*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --background-color:#ececec;
    --pop-up-bg-color: #FF5733 ;
    --text-color: #090909;
    --box-color:  #e0e0e0 ;
   
}

body{
    background-color: var(--background-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./public/blob2.svg);
    background-attachment: fixed;
}
nav{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
nav p{
    margin: 1rem 1.2rem;
    font-size: 2.3rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}
nav p:hover{
    cursor: pointer;
}
nav img{
    width: 2.3rem;
}
nav img:hover{
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section img{
    width: 33rem;
    margin: 5rem;
    border-radius: 0.8rem;
}

.container-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    text-align: center;
   
}

.header-promotion{
    font-size: 8rem;
    font-weight: 700;
    font-family: 'Amatic SC',cursive;
}

.box-descripition{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    font-size: 2.5rem;
    font-weight: 700;
    font-family:'Amatic SC', cursive;  
}
.box-descripition button{
    border: 0.1rem solid var(--text-color);
    padding: 0.2rem;
    background-color: var(--box-color);
    border-radius: 0.8rem;
    font-family: 'Amatic SC',cursive;
    font-size: 1.3rem;
}
.box-descripition button:hover{
    cursor: pointer;
    background-color: var(--background-color);
    border-color: #9b9b9b ;
    
}

.box-product{
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
    border-radius: 0.8rem;
    margin: 1.8rem;
    width: 20rem ;
    height: 20rem;
} 

.box-product:hover{
    border: 1px solid #c1c1c1;
}

.box-product img{
    width: 20rem;
}
.container-side{
    display: flex;
    flex-direction: column;
}
.side-pannel{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}

#header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 100%;
}
#header-container h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 8rem;
}

#mainLogo{
    width: 18rem;
}

#side-card{
    display:flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 1rem;
   
}


#side-banner img{
    width: 56rem;
    border-radius: 0.8rem;
    
}

@media (max-width:450px){
   :root{
       font-size: 28%;
   }

   #side-banner img{
        width: 0.002rem;
   }
}

@media(max-width:800px){
   :root{
       font-size: 40%;
   }
    #side-banner img{
        width: 42rem;
    }
}